globa@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 23, 42; /* slate-900 */
  --background-end-rgb: 30, 41, 59;   /* slate-800 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
